  <div class="row">
    <div class="col-12 col-md-9">
      <%= range_field_tag :range, params[:range], step: 5, min: 10, max:100000, onchange: "rangePrimary.value=value", class: "w-100"%>
      <div class="range-label d-flex justify-content-between">
        <div>€0</div>
        <div>€100k</div>
      </div>
    </div>
    <div class="col-12 col-md-3 d-flex  justify-content-center">
     <strong>€<%= number_field_tag :range_primary, params[:range]||0, id: "rangePrimary", class: "text-primary border-none" %></strong>
    </div>
  </div>
