<form>
  <label for="start">Minimum:</label>
  <input type="number" id="mimumum_price" value="0" />
  <label for="start">Maximum:</label>
  <input type="number" id="maximum_price" value="0" />
</form>
