<form>
  <label for="start">Start date:</label>
  <input type="date" id="start" name="trip-start">
  <label for="start">End date:</label>
  <input type="date" id="end" name="trip-end">
</form>
<form>
  <label for="start">Earliest arrival date:</label>
  <input type="date" id="start" name="trip-start">
  <label for="start">Latest departure date:</label>
  <input type="date" id="end" name="trip-end">
</form>
