<form>
  <label for="destinations">Choose a region:</label>
  <select name="continents" id="continents">
    <option value="na">North America</option>
    <option value="sa">South America</option>
    <option value="eu">Europe</option>
    <option value="af">Africa</option>
    <option value="asia">Asia</option>
  </select>
</form>
