<div class="d-flex align-items-center">
  <%= select_tag :destination,
                  options_from_collection_for_select(
                    Location.all.order(:city),
                    "city_code",
                    "city"
                  ),
                  prompt:"Select a specific destination",
                  value: params[:destination],
                  class: 'w-100 origin-city form-control'%>
  </div>
