<form>
  <label for="start">Adults:</label>
  <input type="number" id="number_of_adults" value="0" />
  <label for="start">Children:</label>
  <input type="number" id="number_of_children" value="0" />
</form>

<%# ajax for originating location %>
<%# amadeus.reference_data.locations.get(
  keyword: 'lon',
  subType: Amadeus::Location::ANY
) %>
