<div class="p-3">
  <div class="row">
    <div class="offset-4 col-4 bg-primary text-white rounded-top shadow-x border border-primary pt-2"><h4 class="text-center">Flights to <%= @location.city %></h4></div>
    <div class="col-4 bg-success text-white rounded-top border shadow-x border-success pt-2"><h4 class="text-center">Flights home</h4></div>
  </div>
  <% @itinerary.passenger_groups.each do |group|%>
    <div class="row">
      <%= render 'group_booking', group: group %>
    </div>
    <div class="row border border-top-only"></div>
  <% end %>
</div>
