<div class="card-body border-bottom for-removal d-none" data-search-form-target="passengerGroupPartial" data-controller="remove-section" data-remove-section-target = "section">
  <%= render 'itineraries/group_form', count: 0 %>
</div>
<% if request.url.match?(/itineraries/) %>
  <% (1..params[:passenger_group_count].to_i).each do |i| %>
    <div class="card-body border-bottom" data-search-form-target="passengerGroupPartial" data-controller="remove-section" data-remove-section-target = "section">
      <%= render 'itineraries/group_form', count: i %>
    </div>
  <% end %>
<% else %>
  <div class="card-body border-bottom" data-search-form-target="passengerGroupPartial" data-controller="remove-section" data-remove-section-target = "section">
    <%= render 'itineraries/group_form', count: 1 %>
  </div>
<% end %>
<div class="clickable card-body d-flex" data-action="click->search-form#addPassengerGroup">
    <div class = "me-3"><i class="fas fa-plus"></i></div>
    <div>Add passenger group</div>
    <%= number_field_tag 'passenger_group_count', params[:passenger_group_count] || 1, class: 'd-none', data: {search_form_target: 'passengerCount'} %>
</div>
