// Define variables for your color scheme

// for btn errors
$red: #FD1015;
$orange: #E67E22;

//accent colors
$blue: #264653;
$green: #2a9d8f;

//grey tones
$gray5: rgb(50,50,50);
$gray4: rgb(90,90,90);
$gray3: rgb(130,130,130);
$gray2: rgb(170,170,170);
$gray1: rgb(210,210,210);
