.scroll-bar {
  /* Scroll height needs fixing */
 height: 100%;
 overflow: scroll;
 overflow-x: hidden;
 overflow-y: scroll;
 min-height: 0px;

&::-webkit-scrollbar-track {
 -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
 border-radius: 10px;
 background-color: #f5f5f5;
}

&::-webkit-scrollbar {
 width: 12px;
 background-color: #f5f5f5;
}

&::-webkit-scrollbar-thumb {
 border-radius: 10px;
 -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
 background-color: $green;
}
}

.upcoming-trips {
height: 85vh !important;

}

.modal-body {
  max-height: 600px;
  overflow-x: hidden;
  .modal-image img {
    width:100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }
}

.card-overview {
 height:100%;
 background: white;
 box-shadow: $shadow;
 border-radius: 8px;

 .card-overview-title{
   display:flex;
   justify-content: space-between;
   background-color: $green;
   border-radius: 8px;
   color: white;
 }

 h4 {
   font-size: 20px;
   margin: 0px;
 }

 .card-overview-info {
   padding: 16px;
   width: 100%;
   text-align: left;
   border-bottom: 1px solid $green;
 }

 .origin-city {
   font-size: 20px;
 }

 p {
   font-size: 16px;
   margin: 0px;
 }

 .flight-time{
   display: flex;
   justify-content: space-between;
   text-align: center;
   align-items: center;
 }

 .flight-time-location {
   align-items: center;
 }

 i {
   color: $green;
   font-size: 18px;
 }
}

.itinerary-overview {
  height: 85vh !important;

  .round-image img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
   }
}

.destination-title {
 display: flex;
 align-items: center;

 h3:hover {
  cursor:pointer;
 }
}

.small-card-overview {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .small-card-destination {
  text-align: center;
  padding: 20px 250px 20px 250px;
  border-radius: 8px;
  color: $green;
  margin:0;
  box-shadow: $shadow;
  position: relative;
  // top: 40px;
  border: 2px solid $green;
  background-color: white;
  z-index:5;
  }

  .small-card-destination:hover{
    cursor: pointer;
    color: $blue;
    border: 2px solid $blue;
  }

  .small-card-overview-info-there {
    width: 350px;
    border: 1px solid $green;
    border-radius: 8px;
    position: relative;

  }

  .bg-color-there {
    background-color: $green;
  }

  .small-card-overview-info-return {
    width: 350px;
    border: 1px solid $blue;
    border-radius: 8px;
    position:relative;

  }
  .bg-color-return {
    background-color: $blue;
  }

  p {
  line-height: 1.5rem;
  margin: 0;
  }


  .circle-booking-there {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: $green;
  position:relative;
  z-index: 5;
  border: none;
  }

  .circle-booking-return {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    border: none;
    background-color: $blue;
    position:relative;
    z-index: 5;
  }

  // .circle-booking:after {
  // content:"";
  // position: absolute;
  // left: 50%;
  // top: 270%;
  // transform: translate(0, -50%);
  // z-index: -1;
  // height: 140px;
  // border-left: 2px dotted $green;
  // }

  .small-card-booking {
  display: flex;
  align-items: center;
  }

  .small-cards-return {
  position:relative;
  }






  // .circle-booking-up:after {
  // content:"";
  // position: absolute;
  // left: 50%;
  // top: -50px;
  // transform: translate(0, -50%);
  // z-index: 1;
  // bottom:35px;
  // height: 110px;
  // border-left: 2px dotted $blue;
  // }
}

.line {
  width: 5px;
  height: 100%;
  position: absolute;
  left: 17px;
  min-height: 16px;
}

.line-green {
  border-left: 2px dotted $green;
}

.line-blue {
  border-left: 2px dotted $blue;
}
