<div class="itinerary-overview">
  <% groups = PassengerGroup.order_by_flight_info(itinerary.passenger_groups) %>
  <!-- Cards with flight info -->
  <div class="small-card-overview">
    <%= render 'flights_one_way', groups: groups, line_color: "green", flight_direction: "there" %>
    <div class="small-card-destination" data-bs-toggle="modal" data-bs-target="#exampleModal"><h4><strong><%=itinerary.destination.city%></strong></h4></div>
    <%= render 'flights_one_way', groups: groups, line_color: "blue", flight_direction: "return" %>
    <div class="mb-3"></div>
  </div>
</div>
