<div class="text-center">
  <h2>Hello <%= @user.first_name %>!</h2>
<div>

<div class="row">
  <div class="col-12 col-sm-4 col-md-4">
    <div class="mt-5 pt-5 ps-5 pe-2">
      <h2>Your upcoming trips</h2>

        <% itineraries = @user.itineraries %>
        <% itineraries.each do |itinerary| %>
          <% if itinerary.start_date >= Date.today %>
            <%= itinerary.destination.city %>    
          <% end %>  
        <% end %>


 
      <h2>Your past trips</h2>
        <% itineraries.each do |itinerary| %>
          <% if itinerary.start_date < Date.today %>
            <%= itinerary.destination.city %>    
          <% end %>  
        <% end %>
    </div>
  </div>

  <div class="col-12 col-sm-8 col-md-8 border-start border-sucess">
    <div class="ps-2 pe-5">
      <h2 class="text-center pt-5">Itinerary view</h2>
    </div>
  </div>
</div>

  


