<div class="row user-page pt-5">
  <div class="col-12 col-sm-4 col-md-4 upcoming-trips scroll-bar">
    <div class="py-3 ps-5 pe-2">

      <h3 class="text-center py-3">Your upcoming trips</h3>
      <% if @upcoming_itineraries.empty? %>
        <p class="text-center">You have no past trips</p>
      <% else %>
        <%= render 'users/upcoming_flight_info_card' %>
      <% end %>

      <h3 class="pt-5 pb-3 text-center">Your past trips</h3>
        <% if @past_itineraries.empty? %>
          <p class="text-center">You have no past trips</p>
        <% else %>
          <%= render 'users/past_flight_info_card' %>
        <% end %>
    </div>
  </div>



  <div class="col-12 col-sm-8 col-md-8">
    <div class="pt-3 px-5 itinerary-overview scroll-bar">
      <%= render 'users/small_flight_info_card' %>
    </div>
  </div>
</div>
