<% if type != "confirmed" || !user_signed_in? %>
  <div class="shadow btn btn-success text-white border border-success" data-action="click->confirm-booking#updateBooking">
    <strong><i class="fas fa-check"></i> Confirm booking </strong>
  </div>
<% else %>
  <div class="w-100 d-flex justify-content-end">
    <div class="bg-success text-white card-tag px-2">booked</div>
  </div>
<% end %>
