<% if type != "confirmed" || !user_signed_in? %>
  <div class="clickable text-sm text-success me-3">
    <strong><i class="fas fa-check"></i> Confirm booking </strong>
  </div>
<% else %>
  <div class="w-100 d-flex justify-content-end">
    <div class="bg-success text-white card-tag px-2">booked</div>
  </div>
<% end %>
