<div class = "text-center mb-3"><strong>Dates</strong></div>
<div class="d-flex align-items-center mb-3"><div class = "me-1">Departing:</div><%= date_field_tag :start_date, params[:start_date], class: "start-date form-control", min: Date.today + 1, data: {search_form_target: "startDate"}%></div>
<div class="d-flex align-items-center mb-3"><div class = "me-1">Returning: </div><%= date_field_tag :end_date, params[:end_date], class: "form-control", min: Date.today + 1%></div>
