<div class="pt-5">
  <footer class="footer text-center text-lg-start">
    <div class="text-center p-3 text-dark";">
      © 2022 Copyright:
      <a target="_blank" href="https://github.com/smayrhof3r">smayrhof3r |</a>
      <a target="_blank" href="https://github.com/eyss1234">eyss1234 |</a>
      <a target="_blank" href="https://github.com/MishaHri">MishaHri |</a>
      <a target="_blank" href="https://github.com/m0hmmed-a">m0hmmed-a</a>
    </div>
  </footer>
</div>