<div class="container d-flex align-items-center justify-content-center integer-container p-1" data-controller="int-button">
    <div class = "me-1"><%= label %></div>
    <div data-action="click->int-button#updateMinus"><i class="clickable round-button fas fa-minus" id="round-button-minus"></i></div>
    <div data-int-button-target="integer" class = "mx-1"><%=params[field_name.to_sym].to_i%></div>
    <%= number_field_tag field_name, params[field_name.to_sym].to_i || 0, class: "d-none #{form_field_class}", data: {int_button_target: 'form'} %>
    <div data-action="click->int-button#updatePlus"><i class="clickable round-button fas fa-plus" id="round-button-plus"></i></div>
</div>
