<div class="modal fade" id="exampleModal-<%=image.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><strong> Discover <%=image.location.city%></strong></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="modal-image"><%= image_tag(image.url) %></div>
        <%= render 'locations/lonely_planet_description', lonely_planet: image.location.lonely_planet_data, images: image.location.images %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success text-white" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
