<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('<%= image_path 'banner.jpg' %>')">
  <div class="container">
    <h1>Let the journey begin</h1>
    <div class= "card-placeholder">SEARCH PLACEHOLDER</div>
</div>