body {
    min-height:100vh;
    padding-bottom: 50px; 
    position:relative; 
  }

  
  .footer {
    border-top: 1px solid $green;
    position: absolute;
    bottom: 0;
    width: 100%;
    align-items: center;

    a {
      color: $green;
      text-decoration: none;
    }

    a:hover{
      color: $blue;
    }
  }