.section-header button {
  outline: none !important;
  border: none !important;

  .btn, .x-btn:focus, .button:focus, [type="submit"]:focus {
    outline: none !important;
    border: none !important;
  }

}

.clickable:hover {
  cursor: pointer;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}
