.integer-container {
  display: flex;

  .round-button {
    padding: 8px;
    color: #264653;
    border: 1px solid #264653;
    border-radius: 50%;
    font-size: 15px;
  }

  .round-button:hover {
    cursor: pointer;
  }

  p {
    text-align: center;
    font-size: 20px;
    color: $gray5;
    width: 40px;
    }
}
