.card-itinerary-recommendation {
    overflow: hidden;
    height: 240px;
    background: white;
    box-shadow: $shadow;
    display: flex;
    align-items: center;
    border-radius: 16px;
    
    
    .card-itinerary-recommendation-infos {
      padding: 16px;
      width: 100%;
      text-align: right;
    }

    img {
      width: 360px;
      object-fit: cover;
    }

    .city-name {
      color: $green;
    }

    p {
      font-size: 16px;
      line-height: 1.4;
      opacity: .7;
      margin-bottom: 0;
      padding-top: 8px;
    }
    
  }
