.navbar-lewagon {
  justify-content: space-between;
  height: 10vh;
  margin-top:0;
  padding:0;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 2000;
  background: whitesmoke;
  box-shadow: $shadow;
  transition: 1s background-color ease;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}
