<div class="container m-3">
  <div class="text-xl border-bottom border-success">
    <i class="fas fa-street-view"></i> "<%= lonely_planet["intro"] %>"
  </div>
  <div class="text-end mt-0 mb-5">
    <%= link_to lonely_planet[:link], class: "text-decoration-none" do %>
      <i class="fas fa-globe-americas"></i> <span class="text-secondary">Read more on<span class="text-primary"><strong> Lonely Planet</strong></span>!</span>
    <% end %>
  </div>

  <% lonely_planet["sections"].each do |section| %>
  <h4>
    <span class = "text-success">
      <strong><%= section["title"] %></strong>
    </span>
  </h4>
  <p><%= section["body"] %></p>
  <% end %>
</div>
